form
  padding: 0 20px
  min-width: 360px
  display: flex
  flex-direction: column
  color: #fff
  @media screen and (max-width: 576px)
    width: calc( 100% - 40px )
    min-width: auto

  .title
    margin: 22px 0 14px
    font-size: 2rem
    text-align: center

  .subtitle
    color: #aaaaaa
    font-size: 16px
    text-align: center

  .inputWrapper
    margin-top: 50px
    display: flex
    flex-direction: column
    gap: 1.5rem
